.bottomlogo {
  display: none;
}

body {
  height: 100%;
  overflow: hidden;
}

.if-form {
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  margin: 0;
}

button.btn.btn-secondary.btn-block {
  background: #229ac8 !important;
  border-color: #229ac8 !important;

}

button.btn.btn-secondary.btn-block:focus {
  box-shadow: 0 0 0 0.2rem rgba(34, 154, 200, 0.5) !important;
}

button.btn.btn-primary {
  background-color: red !important;
}
